# Basic Classification

This notebook would contain basic data cleaning and classification

In [4]:
import pandas as pd

df_msa = pd.read_csv('data/msa-by-zip.csv')

df_msa = df_msa[df_msa['ZIP CODE'] >= 601]

df_msa['ZIP CODE'] = df_msa['ZIP CODE'].astype(str).str.zfill(5)

df_msa.columns = [col.lower().replace(" ", "_") for col in df_msa.columns]

df_subset = df_msa[['zip_code', 'msa_name']]

def clean_data(df, df_subset):
    df.columns = df.iloc[0]
    df = df[1:].reset_index(drop=True)
    df = df.drop([df.columns[0], df.columns[-1]], axis=1)

    df["zip_code"] = df["Geographic Area Name"].str.extract(r'ZCTA5 (\d{5})')

    df = df.drop(columns='Geographic Area Name')

    df.columns = [col.lower().replace(" ", "_") for col in df.columns]

    if 'estimate!!households!!median_income_(dollars)' in df.columns:

        df['col_numeric'] = pd.to_numeric(df['estimate!!households!!median_income_(dollars)'], errors='coerce')

        df = df.dropna(subset=['col_numeric'])

        df = df.drop(columns='col_numeric')

        df['estimate!!households!!median_income_(dollars)'] = df['estimate!!households!!median_income_(dollars)'].astype(float)
    
    elif 'households!!estimate!!median_income_(dollars)' in df.columns:
        df['col_numeric'] = pd.to_numeric(df['households!!estimate!!median_income_(dollars)'], errors='coerce')

        df = df.dropna(subset=['col_numeric'])

        df = df.drop(columns='col_numeric')

        df['households!!estimate!!median_income_(dollars)'] = df['households!!estimate!!median_income_(dollars)'].astype(float)

    df_merged = pd.merge(df, df_subset, on='zip_code', how='left')

    col = ['zip_code', 'msa_name']
    df_merged = df_merged[col + [c for c in df_merged.columns if c not in col]]

    df_merged = df_merged[~df_merged['msa_name'].str.contains('NONMETROPOLITAN', na=False)]

    df_merged = df_merged.dropna(subset=['msa_name'])

    return df_merged

df1 = pd.read_csv('data/2023_acs_income_data.csv')

df1 = clean_data(df1, df_subset)

df2 = pd.read_csv('data/2011_acs_income_data.csv')

df2 = clean_data(df2, df_subset)

df2.head()

# df.to_csv('2023_acs_income_data_cleaned.csv', index=False)

/var/folders/l5/c83q5w7j3wvcv1kvpg3d5qc80000gn/T/ipykernel_42768/1111720245.py:54: DtypeWarning: Columns (2,3,34,35,66,67,98,99) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv('data/2023_acs_income_data.csv')
/var/folders/l5/c83q5w7j3wvcv1kvpg3d5qc80000gn/T/ipykernel_42768/1111720245.py:58: DtypeWarning: Columns (2,3,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv('data/2011_acs_income_data.csv')

,zip_code,msa_name,households!!estimate!!total,households!!margin_of_error!!total,families!!estimate!!total,families!!margin_of_error!!total,married-couple_families!!estimate!!total,married-couple_families!!margin_of_error!!total,nonfamily_households!!estimate!!total,nonfamily_households!!margin_of_error!!total,...,nonfamily_households!!estimate!!percent_imputed!!family_income_in_the_past_12_months,nonfamily_households!!margin_of_error!!percent_imputed!!family_income_in_the_past_12_months,households!!estimate!!percent_imputed!!nonfamily_income_in_the_past_12_months,households!!margin_of_error!!percent_imputed!!nonfamily_income_in_the_past_12_months,families!!estimate!!percent_imputed!!nonfamily_income_in_the_past_12_months,families!!margin_of_error!!percent_imputed!!nonfamily_income_in_the_past_12_months,married-couple_families!!estimate!!percent_imputed!!nonfamily_income_in_the_past_12_months,married-couple_families!!margin_of_error!!percent_imputed!!nonfamily_income_in_the_past_12_months,nonfamily_households!!estimate!!percent_imputed!!nonfamily_income_in_the_past_12_months,nonfamily_households!!margin_of_error!!percent_imputed!!nonfamily_income_in_the_past_12_months
1,00602,"Aguadilla-Isabela-San Sebastian, PR MSA",13500,297,10589,405,7355,381,2911,309,...,(X),(X),(X),(X),(X),(X),(X),(X),8.2,(X)
2,00603,"Aguadilla-Isabela-San Sebastian, PR MSA",17958,439,12961,525,8035,436,4997,470,...,(X),(X),(X),(X),(X),(X),(X),(X),13.4,(X)
4,00610,"Aguadilla-Isabela-San Sebastian, PR MSA",9288,286,7238,342,4670,290,2050,221,...,(X),(X),(X),(X),(X),(X),(X),(X),8.1,(X)
5,00612,"San Juan-Caguas-Guaynabo, PR MSA",23569,528,17926,550,10788,535,5643,407,...,(X),(X),(X),(X),(X),(X),(X),(X),14.0,(X)
6,00616,"San Juan-Caguas-Guaynabo, PR MSA",3551,262,2662,243,1577,200,889,177,...,(X),(X),(X),(X),(X),(X),(X),(X),8.5,(X)

In [9]:
def per_change(income1, income2):
    return float(income2/income1)-1


df_track = pd.DataFrame({'zip_code': [], 'msa_name': [], 'income': [], 'gentrified':[]})

unique_msa = set(df1['msa_name'])

for msa in unique_msa:
    print(msa)

    df1_specific = df1[df1['msa_name'] == msa]

    median_income1 = df1_specific['estimate!!households!!median_income_(dollars)'].median()

    df2_specific = df2[df2['msa_name'] == msa]

    median_income2 = df2_specific['households!!estimate!!median_income_(dollars)'].median()

    region_change = per_change(median_income2, median_income1)

    for zip in df1_specific['zip_code']:
        row1 = df1_specific[df1_specific['zip_code'] == zip].iloc[0]

        match = df2_specific[df2_specific['zip_code'] == zip]
        if not match.empty:
            row2 = match.iloc[0]

        zip_change = per_change(row2['households!!estimate!!median_income_(dollars)'], row1['estimate!!households!!median_income_(dollars)'])
        
        if zip_change > region_change:
            new_row = {'zip_code': row1['zip_code'], 'msa_name': row1['msa_name'], 'income': row1['estimate!!households!!median_income_(dollars)'], 'gentrified': True}
            df_track.loc[len(df_track)] = new_row
        else:
            new_row = {'zip_code': row1['zip_code'], 'msa_name': row1['msa_name'], 'income': row1['estimate!!households!!median_income_(dollars)'], 'gentrified': False}
            df_track.loc[len(df_track)] = new_row

df_track.to_csv('data/gentrified_data_Austin.csv', index=False)

St. Joseph, MO-KS MSA
Alexandria, LA MSA
St. Louis, MO-IL MSA
Chicago-Naperville-Joliet, IL-IN-WI MSA
Warner Robins, GA MSA
Miami-Fort Lauderdale-Pompano Beach, FL MSA
Yuba City, CA MSA
Oshkosh-Neenah, WI MSA
Abilene, TX MSA
Sheboygan, WI MSA
Louisville/Jefferson County, KY-IN MSA
Springfield, MA MSA
Charlottesville, VA MSA
Charleston, WV MSA
San Jose-Sunnyvale-Santa Clara, CA MSA
South Bend-Mishawaka, IN-MI MSA
Monroe, MI MSA
Jackson, MS MSA
Lebanon, PA MSA
Sebastian-Vero Beach, FL MSA
Sumter, SC MSA
Kingston, NY MSA
Barnstable Town, MA MSA
Knoxville, TN MSA
Columbia, MO MSA
Ponce, PR MSA
Las Cruces, NM MSA
Asheville, NC MSA
Naples-Marco Island, FL MSA
Williamsport, PA MSA
Bend, OR MSA
Racine, WI MSA
Glens Falls, NY MSA
Omaha-Council Bluffs, NE-IA MSA
Lafayette, LA MSA
Birmingham-Hoover, AL MSA
Eau Claire, WI MSA
Oxnard-Thousand Oaks-Ventura, CA MSA
Napa, CA MSA
Burlington-South Burlington, VT MSA
Goldsboro, NC MSA
Beaumont-Port Arthur, TX MSA
Bismarck, ND MSA
Kennewick-Richland-Pasco, WA MSA
Johnson City, TN MSA
Fayetteville-Springdale-Rogers, AR-MO MSA
Hartford-West Hartford-East Hartford, CT MSA
Rochester, NY MSA
Casper, WY MSA
Iowa City, IA MSA
Pascagoula, MS MSA
Chattanooga, TN-GA MSA
Port St. Lucie, FL MSA
Olympia, WA MSA
Fairbanks, AK MSA
San Juan-Caguas-Guaynabo, PR MSA
Hot Springs, AR MSA
Peoria, IL MSA
Mobile, AL MSA
Terre Haute, IN MSA
Salem, OR MSA
Bridgeport-Stamford-Norwalk, CT MSA
Idaho Falls, ID MSA
Janesville, WI MSA
Bowling Green, KY MSA
Albuquerque, NM MSA
Sarasota-Bradenton-Venice, FL MSA
Houston-Sugar Land-Baytown, TX MSA
Jackson, MI MSA
Columbus, OH MSA
Ogden-Clearfield, UT MSA
Visalia-Porterville, CA MSA
Baton Rouge, LA MSA
Bay City, MI MSA
Santa Barbara-Santa Maria-Goleta, CA MSA
Fort Collins-Loveland, CO MSA
Owensboro, KY MSA
Niles-Benton Harbor, MI MSA
Lima, OH MSA
State College, PA MSA
Battle Creek, MI MSA
Midland, TX MSA
Lewiston-Auburn, ME MSA
Blacksburg-Christiansburg-Radford, VA MSA
Madera, CA MSA
Greeley, CO MSA
Cheyenne, WY MSA
Phoenix-Mesa-Scottsdale, AZ MSA
Cedar Rapids, IA MSA
Sandusky, OH MSA
Punta Gorda, FL MSA
Houma-Bayou Cane-Thibodaux, LA MSA
Greenville-Mauldin-Easley, SC MSA
Virginia Beach-Norfolk-Newport News, VA-NC MSA
Dallas-Fort Worth-Arlington, TX MSA
Tallahassee, FL MSA
Florence, SC MSA
Mayaguez, PR MSA
Santa Rosa-Petaluma, CA MSA
Canton-Massillon, OH MSA
Holland-Grand Haven, MI MSA
Jacksonville, NC MSA
Waco, TX MSA
Des Moines-West Des Moines, IA MSA
Wilmington, NC MSA
Winston-Salem, NC MSA
Atlanta-Sandy Springs-Marietta, GA MSA
Joplin, MO MSA
Portland-Vancouver-Beaverton, OR-WA MSA
Mount Vernon-Anacortes, WA MSA
Springfield, MO MSA
Detroit-Warren-Livonia, MI MSA
San Antonio, TX MSA
New York-Northern New Jersey-Long Island, NY-NJ-PA MSA
Seattle-Tacoma-Bellevue, WA MSA
Gulfport-Biloxi, MS MSA
Killeen-Temple-Fort Hood, TX MSA
Gadsden, AL MSA
Dover, DE MSA
New Orleans-Metairie-Kenner, LA MSA
Ames, IA MSA
Cleveland, TN MSA
Atlantic City, NJ MSA
Cumberland, MD-WV MSA
Laredo, TX MSA
Sherman-Denison, TX MSA
Hinesville-Fort Stewart, GA MSA
Boise City-Nampa, ID MSA
Augusta-Richmond County, GA-SC MSA
Missoula, MT MSA
Washington-Arlington-Alexandria, DC-VA-MD-WV MSA
Myrtle Beach-Conway-North Myrtle Beach, SC MSA
Harrisburg-Carlisle, PA MSA
Hickory-Lenoir-Morganton, NC MSA
Yauco, PR MSA
Wausau, WI MSA
Michigan City-La Porte, IN MSA
Pittsburgh, PA MSA
St. George, UT MSA
New Haven-Milford, CT MSA
Waterloo-Cedar Falls, IA MSA
Salinas, CA MSA
Grand Forks, ND-MN MSA
Dayton, OH MSA
Jonesboro, AR MSA
Odessa, TX MSA
Altoona, PA MSA
St. Cloud, MN MSA
Pocatello, ID MSA
Norwich-New London, CT MSA
Oklahoma City, OK MSA
Fajardo, PR MSA
Springfield, OH MSA
Green Bay, WI MSA
Grand Junction, CO MSA
Utica-Rome, NY MSA
Elkhart-Goshen, IN MSA
Florence-Muscle Shoals, AL MSA
Ocala, FL MSA
San Luis Obispo-Paso Robles, CA MSA
Rochester, MN MSA
Binghamton, NY MSA
Provo-Orem, UT MSA
Spartanburg, SC MSA
Saginaw-Saginaw Township North, MI MSA
Valdosta, GA MSA
Palm Coast, FL MSA
San Francisco-Oakland-Fremont, CA MSA
Pueblo, CO MSA
Monroe, LA MSA
Lubbock, TX MSA
Hagerstown-Martinsburg, MD-WV MSA
Raleigh-Cary, NC MSA
Cincinnati-Middletown, OH-KY-IN MSA
Lincoln, NE MSA
Fond du Lac, WI MSA
Duluth, MN-WI MSA
Athens-Clark County, GA MSA
Las Vegas-Paradise, NV MSA
Syracuse, NY MSA
Texarkana, TX-Texarkana, AR MSA
Fort Walton Beach-Crestview-Destin, FL MSA
Columbia, SC MSA
Yakima, WA MSA
Stockton, CA MSA
Coeur d'Alene, ID MSA
Colorado Springs, CO MSA
Burlington, NC MSA
Evansville, IN-KY MSA
Austin-Round Rock, TX MSA
Dalton, GA MSA
Mansfield, OH MSA
Panama City-Lynn Haven, FL MSA
Longview, WA MSA
Davenport-Moline-Rock Island, IA-IL MSA
Cleveland-Elyria-Mentor, OH MSA
Charleston-North Charleston, SC MSA
Lake Charles, LA MSA
Reno-Sparks, NV MSA
Medford, OR MSA
College Station-Bryan, TX MSA
Wichita Falls, TX MSA
Sioux City, IA-NE-SD MSA
Guayama, PR MSA
Carson City, NV MSA
Elizabethtown, KY MSA
Akron, OH MSA
Bremerton-Silverdale, WA MSA
Anderson, SC MSA
Elmira, NY MSA
Milwaukee-Waukesha-West Allis, WI MSA
Little Rock-North Little Rock-Conway, AR MSA
Fayetteville, NC MSA
Decatur, AL MSA
Wheeling, WV-OH MSA
Weirton-Steubenville, WV-OH MSA
Buffalo-Niagara Falls, NY MSA
Lakeland, FL MSA
Hanford-Corcoran, CA MSA
Palm Bay-Melbourne-Titusville, FL MSA
Billings, MT MSA
Roanoke, VA MSA
San Diego-Carlsbad-San Marcos, CA MSA
Deltona-Daytona Beach-Ormond Beach, FL MSA
Corvalis, OR MSA
Huntington-Ashland, WV-KY-OH MSA
Indianapolis-Carmel, IN MSA
Pittsfield, MA MSA
Redding, CA MSA
Eugene-Springfield, OR MSA
Fresno, CA MSA
Danville, IL MSA
Flint, MI MSA
Los Angeles-Long Beach-Santa Ana, CA MSA
Lynchburg, VA MSA
Corpus Christi, TX MSA
Jackson, TN MSA
Youngstown-Warren-Boardman, OH-PA MSA
Victoria, TX MSA
Jacksonville, FL MSA
Toledo, OH MSA
Sioux Falls, SD MSA
Rocky Mount, NC MSA
Durham, NC MSA
Columbus, GA-AL MSA
Albany, GA MSA
Richmond, VA MSA
Lake Havasu City-Kingman, AZ MSA
Champaign-Urbana, IL MSA
Bellingham, WA MSA
Providence-New Bedford-Fall River, RI-MA MSA
Wenatchee, WA MSA
Lexington-Fayette, KY MSA
San Angelo, TX MSA
Topeka, KS MSA
Allentown-Bethlehem-Easton, PA-NJ MSA
Longview, TX MSA
Grand Rapids-Wyoming, MI MSA
Ocean City, NJ MSA
Anchorage, AK MSA
Johnstown, PA MSA
Pine Bluff, AR MSA
Lawton, OK MSA
Spokane, WA MSA
Ann Arbor, MI MSA
Muskegon-Norton Shores, MI MSA
Morgantown, WV MSA
Logan, UT-ID MSA
Savannah, GA MSA
Rockford, IL MSA
Tyler, TX MSA
Bakersfield, CA MSA
Shreveport-Bossier City, LA MSA
Greenville, NC MSA
Fargo, ND-MN MSA
Prescott, AZ MSA
Tucson, AZ MSA
Gainesville, FL MSA
Rome, GA MSA
Lancaster, PA MSA
Brunswick, GA MSA
Brownsville-Harlingen, TX MSA
Memphis, TN-AR-MS MSA
Reading, PA MSA
La Crosse, WI-MN MSA
Vineland-Millville-Bridgeton, NJ MSA
Aguadilla-Isabela-San Sebastian, PR MSA
Tulsa, OK MSA
Cape Coral-Fort Myers, FL MSA
Huntsville, AL MSA
San German-Cabo Rojo, PR MSA
Tampa-St. Petersburg-Clearwater, FL
Dothan, AL MSA
Kokomo, IN MSA
Erie, PA MSA
Springfield, IL MSA
Sacramento-Arden-Arcade-Roseville, CA MSA
Jefferson City, MO MSA
Harrisonburg, VA MSA
Amarillo, TX MSA
Salisbury, MD MSA
Albany-Schenectady-Troy, NY MSA
Great Falls, MT MSA
Salt Lake City, UT MSA
Philadelphia-Camden-Wilmington, PA-NJ-DE-MD MSA
Auburn-Opelika, AL MSA
Bloomington, IN MSA
Muncie, IN MSA
Farmington, NM MSA
Baltimore-Towson, MD MSA
Fort Wayne, IN MSA
Lansing-East Lansing, MI MSA
Minneapolis-St. Paul-Bloomington, MN-WI MSA
El Centro, CA MSA
Clarksville, TN-KY MSA
Orlando-Kissimmee, FL MSA
Riverside-San Bernardino-Ontario, CA MSA
Boulder, CO MSA
Tuscaloosa, AL MSA
Columbus, IN MSA
Wichita, KS MSA
Honolulu, HI MSA
Kankakee-Bradley, IL MSA
Dubuque, IA MSA
Mankato-North Mankato, MN MSA
Kansas City, MO-KS MSA
Poughkeepsie-Newburgh-Middletown, NY MSA
Ithaca, NY MSA
Madison, WI MSA
Manhattan, KS MSA
Fort Smith, AR-OK MSA
Anderson, IN MSA
Trenton-Ewing, NJ MSA
Chico, CA MSA
Worcester, MA MSA
Merced, CA MSA
Denver-Aurora, CO MSA
Lafayette, IN MSA
Flagstaff, AZ MSA
Winchester, VA-WV MSA
Santa Cruz-Watsonville, CA MSA
Modesto, CA MSA
Hattiesburg, MS MSA
Portland-South Portland-Biddeford, ME MSA
Kalamazoo-Portage, MI MSA
Nashville-Davidson-Murfreesboro-Franklin, TN MSA
Appleton, WI MSA
Greensboro-High Point, NC MSA
El Paso, TX MSA
Morristown, TN MSA
Kingsport-Bristol-Bristol, TN-VA MSA
Charlotte-Gastonia-Concord, NC-SC MSA
Bangor, ME MSA
York-Hanover, PA MSA
Bloomington-Normal, IL MSA
Montgomery, AL MSA
Lewiston, ID-WA MSA
Anniston-Oxford, AL MSA
Boston-Cambridge-Quincy, MA-NH MSA
Gainesville, GA MSA
McAllen-Edinburg-Mission, TX MSA
Yuma, AZ MSA
Parkersburg-Marietta-Vienna, WV-OH MSA
Cape Girardeau-Jackson, MO-IL MSA
Vallejo-Fairfield, CA MSA
Scranton--Wilkes-Barre, PA MSA
Manchester-Nashua, NH MSA
Macon, GA MSA
Pensacola-Ferry Pass-Brent, FL MSA
Santa Fe, NM MSA
Lawrence, KS MSA
Danville, VA MSA
Rapid City, SD MSA
Decatur, IL MSA