In [ ]:
import pandas as pd

df_raw = pd.read_csv('../data/classification_data_raw.csv')

df = df_raw[['zip_code', 'msa_name', 'year', 'income', 'per_college_educated_x']]

,zip_code,msa_name,income,gentrified_income,year,per_college_educated_x,gentrified_college,gentrified_rent,gentrified,per_college_educated_y,at_risk_college,per_low_income,at_risk_income,percent_nonwhite,region_nonwhite,at_risk_min,at_risk_overall,first_gentrified_year
0,602,"Aguadilla-Isabela-San Sebastian, PR MSA",15106.0,False,2012,20.100000,True,True,False,18.0,False,68.7,False,14.1,12.75,True,False,NaN
1,603,"Aguadilla-Isabela-San Sebastian, PR MSA",15079.0,False,2012,21.000000,True,False,False,20.0,False,69.3,False,10.8,12.75,False,False,NaN
2,610,"Aguadilla-Isabela-San Sebastian, PR MSA",16923.0,False,2012,14.700000,False,False,False,14.9,True,69.8,False,8.3,12.75,False,False,NaN
3,631,"Aguadilla-Isabela-San Sebastian, PR MSA",11651.0,True,2012,14.700000,True,False,False,11.3,True,76.5,True,16.1,12.75,True,True,NaN
4,662,"Aguadilla-Isabela-San Sebastian, PR MSA",14735.0,True,2012,17.200000,True,False,False,16.6,True,71.4,True,28.2,12.75,True,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
199405,99705,"Fairbanks, AK MSA",96966.0,True,2023,23.235542,True,True,False,17.7,True,9.6,False,14.8,20.90,False,False,NaN
199406,99709,"Fairbanks, AK MSA",82991.0,True,2023,39.784946,True,True,False,37.3,False,16.2,False,24.7,20.90,True,False,NaN
199407,99712,"Fairbanks, AK MSA",103494.0,True,2023,34.573561,True,True,False,32.8,False,7.7,False,14.8,20.90,False,False,NaN
199408,99714,"Fairbanks, AK MSA",71042.0,False,2023,24.044734,False,True,False,34.3,False,19.0,True,9.7,20.90,False,False,NaN
199409,99775,"Fairbanks, AK MSA",71022.0,False,2023,34.389140,False,True,False,57.1,False,37.5,True,37.6,20.90,True,False,NaN